<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>

    <style>
        .campusmap{
            position: relative;
            top: 0;
            left: 0;
        }

        .icon{
            position: absolute;
            top:100;
            left:100;
        }
    </style>

</head>

<body>
    <h1>Home Page</h1>

    <div style="position: relative; left: 0; top: 0;">
        <img src="campusmap.jpg" width="700" class="campusmap">
        <img src="colorful on the outside.png" width ="200" class="icon">
    </div>

</body>

</html>